{{template "header" .}}

<h1>Consumables</h1>
<hr>
<a href="./add">add entry</a>
<hr>
<div id="actionResult"></div>
{{range $idx, $item := .allItems}}
<div class="row item-container" id="row-itemid{{$item.Id}}">
        <div class="column">
            <span id="itemid{{$item.Id}}-name">{{$item.Name}}</span>:
            <span id="itemid{{$item.Id}}-count">{{$item.Count}}</span>
        </div>
        <div class="column">
            <a href="#" class="button button-outline" id="{{$item.Id}}" onclick="plusOne(this.id)">+1</a>
            <a href="#" class="button button-outline" id="{{$item.Id}}" onclick="minusOne(this.id)">-1</a>
            <a href="#" class="button button-outline" id="{{$item.Id}}" onclick="deleteOne(this.id)">D</a>
        </div>
        <div class="column">
            <small>updated: <span class="updated-at">{{$item.UpdatedAt}}</span></small>
        </div>
</div>
{{end}}
{{template "footer"}}
