{{template "header" .}}

<h1>Consumables</h1>
<hr>
<a href="./add">add entry</a>
<hr>
<div id="actionResult"></div>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Count</th>
            <th>Action</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {{range $idx, $item := .allItems}}
        <tr id="row-itemid{{$item.Id}}">
          <td>{{$item.Id}}</td>
          <td><div id="itemid{{$item.Id}}-name">{{$item.Name}}</div></td>
          <td><div id="itemid{{$item.Id}}-count">{{$item.Count}}</div></td>
          <td>
              <input type="button" id="{{$item.Id}}" value="+" onclick="plusOne(this.id)">
              <input type="button" id="{{$item.Id}}" value="-" onclick="minusOne(this.id)">
              <input type="button" id="{{$item.Id}}" value="D" onclick="deleteOne(this.id)">
          </td>
          <td><div class="updated-at" id="itemid{{$item.Id}}-updatetime">{{$item.UpdatedAt}}</div></td>
        </tr>
        {{end}}        
    </tbody>
</table>

{{template "footer"}}
